apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  namespace: flix
spec:
  replicas: 2
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: tegar900/flixstream-search-service:latest
          ports:
            - containerPort: 3005
          envFrom:
            - configMapRef:
                name: search-service-config
          readinessProbe:
            httpGet:
              path: /health
              port: 3005
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3005
            initialDelaySeconds: 30
            periodSeconds: 20
