apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: flix
spec:
  selector:
    app: search-service
  ports:
    - port: 3005
      targetPort: 3005
      protocol: TCP
  type: ClusterIP
