apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: flix
  labels:
    app: search-service
spec:
  selector:
    app: search-service
  ports:
    - name: http
      port: 3004
      targetPort: 3004
      protocol: TCP
  type: ClusterIP
