apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-service
  namespace: flix
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recommendation-service
  template:
    metadata:
      labels:
        app: recommendation-service
    spec:
      containers:
        - name: recommendation-service
          image: tegar900/flixstream-recommendation-service:latest
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: recommendation-service-config
          readinessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 30
            periodSeconds: 20
