apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: flix
  labels:
    app: user-service
spec:
  selector:
    app: user-service
  ports:
    - name: http
      port: 3001
      targetPort: 3001
      protocol: TCP
  type: ClusterIP
