apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: flix
spec:
  selector:
    app: frontend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  # type: LoadBalancer
  type: NodePort
