apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: flix
  labels:
    app: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - name: http
      port: 3005
      targetPort: 3005
      protocol: TCP
  type: ClusterIP
