apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: flix
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
        - name: catalog-service
          image: tegar900/flixstream-catalog-service:latest
          ports:
            - containerPort: 3002
          envFrom:
            - configMapRef:
                name: catalog-service-config
          readinessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 20
