apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: flix
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  selector:
    app: catalog-service
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
  type: ClusterIP
